section{
    background-color: #F4F4F4;
}



.modules-feature{
   display: flex;
   flex-direction: column;
}


.feature-heading{
    display: flex;
    border: 1px solid white;
   background-color: #F4F4F4;
   padding: 30px;
}


.feature-heading h2{
    font-size: 30px;
    font-weight: 500;
    /* padding: 80px; */
    margin-left: 50px;
}


.six-features{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 80px;
    gap: 20px;
}


.first-feature{
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
    gap: 12px;
}

.first-feature-box{
    width: 300px;
}

.first-feature-box p{
    color: #656565;
}

.second-feature-box{
    padding: 25px;
    width: 300px;
}

.second-feature-box p{
    color: #656565;
}


.third-feature-box{
    padding: 25px;
    width: 300px;
}

.fourth-feature-box p{
    color: #656565;
}

.fourth-feature-box{
    padding: 25px;
    width: 300px;
}

.fifth-feature-box p{
    color: #656565;
}

.fifth-feature-box{
    padding: 25px;
    width: 300px;
}


.sixth-feature-box{
    padding: 25px;
    width: 300px;
}

.sixth-feature-box p{
    color: #656565;
}


.feature-button {
    justify-self: center;
}


.feature-button button{
    border: 1px solid #00A6E0;
    padding: 15px;
    width: 200px;
    font-size: 16px; 
    background-color: #00A6E0;
    color: #F4F4F4;
    font-weight: 500;
    border-radius: 5px;
}




@media (max-width:645px){


    .feature-heading h2{
        font-size: 20px;
        width: 300px;
    }

    .six-features{
        display: grid;
        grid-template-columns: 1fr;
    }

}

